SOAP_sample/test/myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.sample.jp/tns"
    xmlns:tns="http://www.sample.jp/tns"
>   
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="users">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" minOccur="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="userName" type="xs:string" />
                                    <xs:element name="userAge" type="xs:positiveInteger" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="sayHelloReq">
        <wsdl:part name="name" type="xs:string" />
    </wsdl:message>

    <wsdl:message name="sayHelloRes">
        <wsdl:part name="msg" type="xs:string" />
    </wsdl:message>

    <wsdl:message name="getAllUsersReq">
    </wsdl:message>

    <wsdl:message name="getAllUsersRes">
        <wsdl:part name="users" elements="tns:users" />
    </wsdl:message>

    <wsdl:portType name="myServicePortType">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:sayHelloReq" />
            <wsdl:output message="tns:sayHelloRes" />
        </wsdl:operation>
        <wsdl:operation name="getAllUsers">
            <wsdl:input message="tns:getAllUsersReq" />
            <wsdl:output message="tns:getAllUsersRes" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="myServiceBinding"
                  type="tns:myServicePortType"
    >
        <!-- <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/> -->
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation/>
            <wsdl:input>
                <!-- <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" /> -->
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <!-- <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" /> -->
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getAllUsers">
            <soap:operation/>
            <wsdl:input>
                <!-- <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" /> -->
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <!-- <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" /> -->
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="myService">
        <wsdl:port name="myPort" binding="tns:myServiceBinding">
            <soap:address location="http://localhost:8000/greeting"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>